<h1 class="text-center">AM Kittenator</h1>

<div class="container-fluid justify-content-center mt-5">
    <div class="row">
        <div class="col-12 text-center">

            <h3>HECHOS SOBRE GATITOS</h3>
            <p>{{hechos}}</p>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">

            <h3>UNA IMAGEN DE GATITO RANDOM</h3>
            <img width="200px" height="auto" src="{{ruta}}" alt="imagen de gatito">

        </div>
    </div>
</div>