<h1 class="text-center">GATITOS RANDOM GENERATOR</h1>
<div class="container justify-content-center">
    <div class="row">
        <div class="col-12 text-center " style="height: 100px;">

            <h2>HECHOS SOBRE GATITOS</h2>


            <p>{{hechos}}</p>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">

            <h2>UNA IMAGEN DE GATITO RANDOM</h2>


            <img width="200px" height="auto" src="{{ruta}}" alt="imagen de gatito">

        </div>
    </div>
</div>
