body {
  padding: 5px;
}

/*
a {
  color: #48264e;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
*/

.foto-gato {
  max-height: 60vh;
}

.header {
  height: 20vh;
  background-image: url(/images/fondogatos.jpg);
  background-size: cover;
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 10vh;
}

h1:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.bg-facts {
  background-color: rgba(228, 170, 182, 0.575);
}
